* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  border: 1px solid black;
}

div.header-up {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.header-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.header-down-left, div.header-down-right {
  position: relative;
  top: 18px;
}
